@page
@model SociFilarmonicaApp.CalcolaModel
@{
    ViewData["Title"] = "Calcola";
}

<h1>Calcola il rimborso</h1>
<h2 class="text-muted">@Model.DatiCalcolo.Nome @Model.DatiCalcolo.Cognome</h2>

<hr />

<form>

</form>

