<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soci Filarmonica App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><i class="fa fa-id-card"></i></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Soci/Index"><span class="fa fa-users"></span> Gestisci soci</a>
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Soci/StoricoRimborsi/Index"><span class="fa fa-receipt"></span> Storico rimborsi</a>
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Soci/Riepilogo"><span class="fa fa-clipboard-list"></span> Riepilogo</a>
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Soci/TipiSoci/Index"><span class="fa fa-user-tag"></span> Tipologia socio</a>
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Impostazioni/DatiAuto/Index"><span class="fa fa-car-side"></span> Configura fascia rimborso Km</a>
                <a class="list-group-item list-group-item-action bg-transparent" asp-area="" asp-page="/Impostazioni/Impostazioni"><span class="fa fa-cog"></span> Impostazioni</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid pt-3">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Soci Filarmonica App - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
